* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  grid-area: top;
}

input {
  grid-area: left;
}

button {
  grid-area: right;
}

.dataDisplayContainer {
  display: none;
}

.flexContainer {
  display: flex;
  gap: 5px;
  font-size: 20px;
  font-weight: bold;
}

#sourceAPI {
  margin-top: 10px;
}
